/*#AlbumPageTop{
	background-size: cover;
	min-height: 500px;
}

#AlbumPageTop > div{
	background-color: rgba(0, 0, 0, 0.6);
	min-height: 500px;
}*/

#ArtistPageTop{
    height: 125px;
    border-bottom: 1px solid silver;
}    

.ArtistPageContent{
    position: relative;
    width: 200px;
    margin: 7.5px;
    margin-top: 20px;
        float: left;
    font-family: 'Raleway', sans-serif;
}

.ArtistContentPicture{
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 50% 50%;
    -webkit-transition: -webkit-transform 2s ease-in-out;
          transition:         transform 2s ease-in-out;

}

.ArtistContentPicture:hover{
	border: 2px solid red;
	-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ArtistContentDescription{
    position: relative;
    height: 50px;
    padding-top: 5px;
/*    padding-left: 10px;*/
    font-variant: small-caps;
    font-size: 14px;
}
.ArtistContentName{
/*    margin-top:5px;*/
    text-align: center;
    
}
.ArtistContentListLength{
    
    margin-top:2px;
    color:grey;
        text-align: center;
}